#root {
      animation: animate 10s linear infinite;
      background-color: #001300;
      display: flex;
      justify-content: center;
      align-items: center;
}
@keyframes animate {
      0% {
            filter: hue-rotate(0deg);
      }
      100% {
            filter: hue-rotate(360deg);
      }
}
.greet {
      text-align: center;
      padding: 20px 5px;
      color: #00ff0a;
      text-decoration: underline;
      text-shadow: 0 0 10px #00ff0a,
                  0 0 20px #00ff0a,
                  0 0 40px #00ff0a;
}
.container {
      max-width: 400px;
      text-align: center;
      padding: 5px;
}
.logo {
      width: 100%;
      height: 200px;
}
.logo img {
      width: 100%;
      height: 100%;
      animation: rotate 6s linear infinite;
      text-shadow: 1px 1px 2px #00ff0a,
                  2px 2px 4px #00ff0a,
                  4px 4px 8px #00ff0a;
      -webkit-filter: drop-shadow(5px 5px 0px #329438);
      transition: all 6s inherit;
}
@keyframes rotate {
      0% {
            transform: rotate(0deg);
            -webkit-filter: drop-shadow(5px 5px 0px #329438);
      }
      25% {
            -webkit-filter: drop-shadow(5px -5px 0px #329438);
      }
      50% {
            -webkit-filter: drop-shadow(-5px -5px 0px #329438);
      }
      75% {
            -webkit-filter: drop-shadow(-5px 5px 0px #329438);
      }
      100% {
            transform: rotate(360deg);
            -webkit-filter: drop-shadow(5px 5px 0px #329438);
      }
}
